# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iconset
*.ipa
*.apk
*.app

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
